<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>00.jpeg</string>
		<key>name</key>
		<string>回忆专用小马甲</string>
		<key>vip</key>
		<integer>1</integer>
		<key>time</key>
		<string>今天 14:03</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>content</key>
		<string>现在互联网流行啥东西太快了！你以为常抱着手机，咋说也算个有网感的达人了，结果个把钟头不在线再上来直接蒙圈！完全看不懂首页！以前上课睡会顶多醒来下课了，现在首页给人感觉像上课睡会一觉醒来同学都TM毕业生孩子了！刚懂灯笼红灯咋回事唰的一下duang就来了，还没来及duang呢白金蓝黑又撕起来了…</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>01.jpeg</string>
		<key>name</key>
		<string>ZEALER中国</string>
		<key>vip</key>
		<integer>0</integer>
		<key>time</key>
		<string>今天 14:01</string>
		<key>source</key>
		<string>微博 weibo.com</string>
		<key>content</key>
		<string>【谷歌高管：愿意重返中国市场】Android掌门人Sundar Pichai近日在接受福布斯采访时表示，谷歌今年将在支付、商务和企业等领域发力，而谷歌愿意重返中国市场，“Android用户很广，中国开发者对于谷歌Play有很大兴趣。我并不认为中国市场是一个黑洞，这是巨大机遇。未来，我们有机会提供其他服务。”</string>
		<key>image</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>02.jpeg</string>
		<key>name</key>
		<string>爱范儿</string>
		<key>vip</key>
		<integer>0</integer>
		<key>time</key>
		<string>今天 12:03</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>content</key>
		<string>【瞄准开放设计，Moto 360 也将专属定制】摩托罗拉将在 3 月推出新版 Moto Maker，用户将不仅可以通过它个性化定制专属的 Moto X 手机，还能够定制专属的 Moto 360 智能手表。Moto Maker 的授权扩大化，意味着摩托将为其产品提供更多、更快的定制服务。</string>
		<key>image</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>03.jpeg</string>
		<key>name</key>
		<string>谢娜</string>
		<key>vip</key>
		<integer>1</integer>
		<key>time</key>
		<string>2月26日 16:52</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>content</key>
		<string>随手拍的天儿，预备，唱：蓝蓝的天空～～～～～白云飘～～～～～</string>
		<key>image</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>04.jpeg</string>
		<key>name</key>
		<string>回忆专用小马甲</string>
		<key>vip</key>
		<integer>1</integer>
		<key>time</key>
		<string>12:45</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>content</key>
		<string>现在大家感慨起来不再说“也是醉了”，见谁牛逼不再说“也是蛮拼的”，没再问“你家里人知道吗”，碰到啥事不在乎元芳咋看了，挖掘机消失在首页我和我的小伙伴也不再震惊了，所有梗被玩坏了后都顺理成章的被遗忘了，这不挺好吗？为啥到现在还有人见我就说1米五，说我秃！怎么就那么倔强？复读机吗？！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>05.jpeg</string>
		<key>name</key>
		<string>MarkLewis</string>
		<key>vip</key>
		<integer>0</integer>
		<key>time</key>
		<string>12:45</string>
		<key>source</key>
		<string>OS X</string>
		<key>content</key>
		<string>&quot;当你的才华还撑不起你的野心时，那你就应该静下心来学习！&quot;</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>06.jpeg</string>
		<key>name</key>
		<string>王自如ZEALER</string>
		<key>vip</key>
		<integer>1</integer>
		<key>time</key>
		<string>12:45</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>content</key>
		<string>坚持...因为比我强的人都比我更努力….</string>
		<key>image</key>
		<string>6.jpg</string>
	</dict>
</array>
</plist>
